## Data Science Tools and Ecosystems

##Author:
Robert Seth Wood

In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**

* Learn about popular prgramming languages and their use.
* The common use cases for Python and R.
* How 'git' adn Github are used for code management and aid collaboration.

Some of the popular landuages that Data Scientist use are:


1.   Python
2.   R  
3. Julia

Some of the commonly useed linraries by Data Scientists include:


1.   Pandas
2.   Numpy
3. Matplotlib

# Below are a few examples of evaluating arithmetic expressions in Python



*   Addition: 5+5
*   Subtratction: 5-5
*   Multiplication: 5*5
*   Division: 5/5
*   Floor Divisioin: 5//2
*   Modulus: 5%2
*   Exponent: 5**2

In [16]:
(3*4)+5
#This is a simple arithmetic expression to multiply  then add intergers

17

In [21]:
#The code, below, converts the unit minute into hours.

minutes = 200
min_per_hour = 60
hours = minutes/min_per_hour
print(hours)

print(f'Alternatively, we can caluclate this directly: ', 200/60)

3.3333333333333335
Alternatively, we can caluclate this directly:  3.3333333333333335